@model UserDetailViewModel

<strong>Name</strong>
<p><em>@Model.Name</em></p>

<strong>Description</strong>
<p><em>@Model.Description</em></p>

<a class="btn btn-primary" asp-controller="User" asp-action="EditInfo" title="Manage">Manage bio</a>
<a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Manage credentials</a>